/* База для всех иконок-кнопок */
.root {
  border: 0;
  background: transparent;
  cursor: pointer;
  padding: 0px;
  /* border-radius: 9999px; */
  /* min-width: 36px;
  /* min-height: 36px; */
  transition: transform 0.12s ease, background 0.12s ease, opacity 0.12s ease,
    color 0.12s ease;
}
.root:hover {
  /* background: #9fd1290f; */
  transform: scale(1.2);
  color: #f39e88;
}
.root:active {
  transform: scale(0.9);
}
.root:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* ДАЛЕЕ — именованные классы, которые ты будешь передавать через prop classKey */

/* Пример: кнопка удаления в карточке галереи */
.btnDelImg {
  color: #eff77e;
  opacity: 0.7;
  position: absolute;
  bottom: 0;
  left: 1px;
  padding: 6px 12px;
}
.btnDelImg:hover {
  color: rgb(228, 98, 76);
  opacity: 1;
  transform: scale(1.2);
}

/* Пример: кнопка меню в header */
.headerMenu {
  font-size: 1.8em;
  color: inherit;
}

.soft {
  background: rgba(0, 0, 0, 0.06);
}
.solid {
  background: #111;
  color: #fff;
}
